
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #fff;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --doc-height: 100vh;/* 視窗響應高度值 */
    /* --el-color-black:#fff !important; */
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: var(--doc-height);

    color: #1f2937;
    touch-action: manipulation;
    font-family: "微軟正黑體";
  }
  body::-webkit-scrollbar {
    width: 8px;  /* 垂直滾動條的寬度 */
    height: 8px; /* 水平滾動條的高度 */
  }
  
  /* 設定滾動條的背景顏色 */
  body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  /* 設定滑動條的顏色 */
  body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  
  /* 滑動條懸停時的顏色 */
  body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  
  .card {
    padding: 1em;
  }
